{{define "content"}}
<div class="container">
    <h1>Создание пользователя</h1>
    <form action="/create-user" method="POST">
        <div>
            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" required>
        </div>
        <div>
            <label for="firstname">Имя:</label>
            <input type="text" id="firstname" name="firstname" required>
        </div>
        <div>
            <label for="middlename">Отчество:</label>
            <input type="text" id="middlename" name="middlename">
        </div>
        <div>
            <label for="passport-series">Серия паспорта:</label>
            <input type="text" id="passport-series" name="passport_series" required>
        </div>
        <div>
            <label for="passport-number">Номер паспорта:</label>
            <input type="text" id="passport-number" name="passport_number" required>
        </div>
        <div>
            <label for="post">Должность:</label>
            <input type="text" id="post" name="post" required>
        </div>
        <div>
            <label for="contacts">Контакты:</label>
            <textarea id="contacts" name="contacts"></textarea>
        </div>
        <div>
            <label for="photo">Фото:</label>
            <input type="text" id="photo" name="photo">
        </div>
        <div>
            <label for="rol-id">Роль:</label>
            <select id="rol-id" name="rol_id">
                <!-- опции выбираемых ролей -->
            </select>
        </div>
        <div>
            <label for="address-id">Адрес:</label>
            <select id="address-id" name="address_id">
                <!-- варианты выбора адреса -->
            </select>
        </div>
        <div>
            <label for="division-id">Подразделение:</label>
            <select id="division-id" name="division_id">
                <!-- варианты выбора подразделения -->
            </select>
        </div>
        <button type="submit">Создать пользователя</button>
    </form>
</div>
{{end}}