<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление задачи</title>
</head>
<body>
<h1>Добавление новой задачи</h1>
<form action="/add_task" method="POST">
    <label for="task-point">Название задачи:</label><br>
    <input type="text" id="task-point" name="task-point" placeholder="Введите название задачи"><br>
    
    <label for="task-status">Статус задачи:</label><br>
    <input type="text" id="task-status" name="task-status" placeholder="Введите статус задачи"><br>
    
    <label for="deadline">Срок выполнения:</label><br>
    <input type="datetime-local" id="deadline" name="deadline"><br>
    
    <label for="employee-name">Выберите сотрудника:</label><br>
    <select id="employee-name" name="employee-name">
        {{ range .Employees }}
            <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select><br>
    
    <label for="project-name">Выберите проект:</label><br>
    <select id="project-name" name="project-name">
        {{ range .Projects }}
            <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select><br>
    
    <button type="submit">Создать задачу</button>
</form>
</body>
</html>